# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfplan
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets
.env
.env.local
.env.*.local

# NÃO versionar tfvars com secrets reais
dev/terraform.tfvars
prod/terraform.tfvars

# IDE
.vscode/
.idea/
